@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/riesling');
@import url('https://fonts.cdnfonts.com/css/audrey');

/* 'Righteous', cursive;
    'Sarala', sans-serif */

:root {
    --cor-de-fundo: linear-gradient(5deg, rgba(31,19,17,1) 2%, rgba(4,26,21,1) 43%, rgba(4,26,21,1) 97%);    ;
    --cor-principal: #041A15;
    --cor-destaque: #B79760;
    --cor-letra: #FFFFFF;
    --cor-secundaria: #8d704c;
}

body {
    background: var(--cor-de-fundo);
    color: var(--cor-letra);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    margin-right: 60px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 18px;
}

.container {
    border-top: 0.4px solid var(--cor-destaque);
    margin-bottom: 48px;
}

.container-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-principal-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container-principal-texto-titulo {
    font-family: 'Riesling', sans-serif;
    font-weight: 400;
    font-size: 128px;
    color: var(--cor-destaque);
}

.container-principal-texto-subtitulo {
    font-family: 'Audrey', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: var(--cor-letra);
}

.container-principal-texto-botao {
    display: flex;
    background-color: var(--cor-secundaria);
    padding: 0.5em;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--cor-letra);
    align-items: center;
    justify-content: center;
}

.container-principal-texto-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.container-principal-imagem {
    height: 380px;
    margin-top: 30px;
}

.container-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.container-secundario-titulo {
    border-top: 0.4px solid var(--cor-destaque);
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: var(--cor-letra);
    margin-bottom: 16px;
}

.container-secundario-texto {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid var(--cor-destaque);
}

.rodape-imagem {
    height: 96px;
    display: block;
    margin: 0 auto;
}